<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ameur.quizprojectameurmariemfirasamalahmed">

    <application
        android:allowBackup="true"
        android:icon="@drawable/brain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".Provider.QuestionsContentProvider"
            android:authorities="quiz.projet.ahmedameuramalfirasmariem.questionsprovider"></provider>
        <provider
            android:name=".Provider.PropositionsContentProvider"
            android:authorities="quiz.projet.ahmedameuramalfirasmariem.propositionsprovider"></provider>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1731309327134941" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>